.flex-container {
  display: -webkit-flex;
  display: flex;

  width: 400px;
  height: 100px;
  background-color: lightgrey;
}

.flex-item {
  width: 100px;
  /*
    项目的排列方向是水平方向，
    可以指定项目的width,
    不指定的话就是内容撑开的大小，
    弹性布局，指定项目属性放大缩小，最终宽度是可以调整的，
    todo
    */
  height: 60px;
  background-color: cornflowerblue;

  margin: 10px;
}

/**/
.flex-direction-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

/**/
.flex-wrap-wrap {
  flex-wrap: wrap;
}

/**/
.flex-flow-row-wrap {
  flex-flow: row wrap;
}

.flex-flow-column-wrap {
  flex-flow: column wrap;
}

/* 主轴的对齐方式 */
.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

/* 交叉轴的对齐方式 */
.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

/**/
/**/
/*默认值0，不放大*/

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

/**/
/**/
/*默认值1，会缩小*/

.flex-shrink-0 {
  flex-shrink: 0;
}

/**/
/**/
/*默认值auto*/

.flex-basis-200 {
  flex-basis: 200px;
}

/**/
/**/
/* 默认不放大，会缩小 */

.flex-auto {
  flex: 1 1 auto; /*放大，缩小*/
}

.flex-auto_short {
  flex: auto;
}

.flex-none {
  flex: 0 0 auto; /*不放大，不缩小*/
}

.flex-none_short {
  flex: none;
}
